.container {
  overflow: hidden;
  padding:24px 20px;
  font-size: 44px;
  .inputContainer{
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #b0b0b0;
    input{
      display: inline-block;
      width:710px;
      height:62px;
      background-color: #eee;
      font-size: 14px;/*no*/
      border-radius: 8px;
      color: #b0b0b0;
      text-align: center;
      vertical-align: middle;
    }
    input::-webkit-input-placeholder{
      color: #333;
    }
    i{
      position: absolute;
      left:calc(50% - 50px);/*no*/
      top:8px;
      font-size: 22px;/*no*/
    }
  }
}

