.container {
  height: 100vh;
  background-color: #f2f2f2;
  .content{
    padding-bottom: 102px;
    .tab{
      height:98px;
      font-size: 34px;
      background-color: #fff;
      margin-bottom: 20px;
      .btnContainer{
        width:33%;
        text-align: center;
        float: left;
        height:98px;
        div{
          display: inline-block;
          width:130px;
          height:96px;
          line-height: 96px;
          border-bottom: 4px solid #fff;
          text-align: center;
          font-size: 32px;
          color: #333;
        }
        .on{
          color: #f4ab1e;
          border-bottom-color: #f4ab1e;
        }
      }
    }
    .item{
      padding:0 26px;
      margin-top: 20px;
      background-color: #fff;
      overflow: hidden;
      .up{
        width:100%;
        overflow: hidden;
        .imgContainer{
          border-radius: 50%;
          width:110px;
          height:110px;
          float: left;
          margin-top: 24px;
          img{
            width:110px;
            height:110px;
          }
        }
        .contentContainer{
          float: left;
          margin-top: 30px;
          margin-left: 25px;
          .name{
            font-size: 32px;
            color: #333;
            font-weight: 500;
          }
          .time{
            font-size: 26px;
            color: #666;
            margin-top: 14px;
          }
        }
      }
      .down{
        margin-top: 25px;
        .describe{
          font-size: 26px;
          color: #333;
          line-height:36px;
          margin-bottom: 20px;
          i{
            display: inline-block;
            color: #f4ab1e;
            font-style: normal;
          }
        }
        .product{
          overflow: hidden;
          margin-bottom: 24px;
          img{
            float: left;
            width:214px;
            height:214px;
            margin-right: 26px;
          }
          img:last-child{
            margin-right: 0;
          }
        }
        .btnContainer{
          border-top: 1px solid #eee;/*no*/
          overflow: hidden;
          .btn{
            width: 33%;
            height:72px;
            line-height: 72px;
            float: left;
            text-align: center;
            i{
              font-size: 44px;
            }
            s{
              text-decoration: none;
              font-size: 24px;
              color: #666;
              padding-left: 10px;
              vertical-align: top;
            }
          }
          .btn:first-child{
            i{
              font-size: 60px;
              position: relative;
              top:2px;
            }
          }
          .btn:nth-child(2){
            i{
              font-size: 56px;
            }
          }
          .btn:last-child{
            i{
              position: relative;
              top:-4px;
            }
          }
        }
      }
    }
  }
}

