.container {
  overflow: hidden;
  padding:24px 20px;
  font-size: 44px;
  background-color: #fff;
  >i{
    display: inline-block;
    font-size: 44px;
    vertical-align: top;
  }
  .title{
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: 36px;
    color: #333;
    vertical-align: top;
    width:580px;
    height:40px;
    text-align: center;
    font-weight: 500;
  }
  .left{
    padding-top: 6px;
    margin-right: 17px;
    font-size: 37px;
    color: #333;
  }
  .right{
    display: inline-block;
    font-size: 30px;
    color: #333;
    font-style: normal;
    font-weight: 500;
    float: right;
    padding-right: 4px;
  }
}

