.itemContainer{
  background-color: #f5f5f5;
  overflow: hidden;
  min-height: 100vh;
  margin-bottom: 120px;
  .item{
    margin-top: 20px;
    background-color: #fff;
    height:173px;
    .itemDetail{
      overflow: hidden;
      .itemDetailContainer{
        overflow: hidden;
        float: left;
        min-width:640px;
        .itemLeft{
          float: left;
          padding-left: 25px;
          padding-top: 30px;
          input{
            float: left;
            margin-top: 30px;
          }
          img{
            float: left;
            width:110px;
            margin-left: 26px;
          }
        }
        .itemRight{
          float: left;
          .content{
            padding-left: 20px;
            float: left;
            padding-top: 38px;
            .detail{
              font-size: 30px;
              color: #333;
            }
            .price{
              font-size: 28px;
              color: #ff4646;
              margin-top: 25px;
              s{
                display: inline-block;
                font-size: 22px;
                color: #b0b0b0;
                margin-left: 10px;
              }
            }
          }
        }
      }
      .delete{
        float: right;
        width:88px;
        height:173px;
        line-height: 173px;
        background-color: #ff4646;
        color: #fff;
        font-size: 30px;
        text-align: center;
      }
    }
  }
}
