.container {
  overflow: hidden;
  .iconContainer{
    text-align: center;
    padding-top: 200px;
    i{
      display: inline-block;
      width:150px;
      height:150px;
      &:before{
        display: inline-block;
        width:150px;
        height:150px;
        font-size: 150px;
      }
    }
    .loading{
      color: #f4ab1e;
      animation: change 2s infinite linear;
    }
    .reload{
      color: #eee;
    }
  }
  @keyframes change {
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(360deg);}
  }
  .info{
    text-align: center;
    font-size: 24px;
    color: #999;
    margin-top: 20px;
    padding-bottom: 200px;
  }
}

