.bac{
  background-color: #f3f3f3;
  .up{
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 24px;
    .container{
      width:750px;
      height:387px;
      position: relative;
      >img{
        position: absolute;
        width:100%;
        left:0;
        bottom:0;
      }
      .content{
        position: absolute;
        width:100%;
        left:0;
        top:50px;
        .avatarContainer{
          width:156px;
          height:156px;
          border-radius: 50%;
          margin:0 auto;
          img{
            width:152px;
            height:152px;
            border-radius: 50%;
          }
        }
        .name{
          font-size: 36px;
          color: #fff;
          height:80px;
          line-height: 80px;
          text-align: center;
        }
        .describe{
          font-size: 30px;
          color: #fff;
          text-align: center;
        }

      }
    }
    .itemList{
      overflow: hidden;
      .item{
        width:33%;
        height:110px;
        float: left;
        overflow: hidden;
        .num{
          text-align: center;
          font-size: 36px;
          color: #333;
          margin-top: 10px;
        }
        .name{
          text-align: center;
          font-size: 30px;
          color: #666;
        }
      }
    }
  }
  .down{
    .downItem{
      overflow: hidden;
      border-bottom: 1px solid #eee;/*no*/
      background-color: #fff;
      .downItemName{
        float: left;
        margin-left: 30px;
        i{
          float: left;
          font-size: 40px;
          color: #f4ab1e;
          height:100px;
          line-height: 100px;
        }
        div{
          float: left;
          font-size: 30px;
          color: #333;
          height:100px;
          line-height: 100px;
          margin-left: 30px;
        }
      }
      >i{
        float: right;
        font-size: 50px;
        color: #bebebe;
        height:100px;
        line-height: 100px;
        margin-right: 30px;
      }
    }
    .downItem:last-child{
      .downItemName{
        i{
          font-size: 60px;
          position: relative;
          left:-12px;
          bottom:-4px;
        }
        div{
          position: relative;
          left:-24px;
        }
      }
    }
  }
}
