.container {
  overflow: hidden;
  padding:24px 20px;
  font-size: 44px;
  border-bottom: 1px solid #eee;/*no*/
  .inputContainer{
    display: inline-block;
    position: relative;
    >i{
      display: inline-block;
      font-size: 44px;
      vertical-align: top;
      color: #333;
    }
    input{
      display: inline-block;
      width:630px;
      height:62px;
      background-color: #f5f5f5;
      font-size: 14px;/*no*/
      border-radius: 8px;
      color: #b0b0b0;
      vertical-align: top;
      padding-left: 10px;
    }
    .left{
      padding-top: 8px;
      margin-right: 17px;
      font-size: 37px;
      color: #333;
    }
  }
}

